.formWrapper {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 100px;
    height: 30px;
    background-color: transparent;
    font-size: 18px;
    color: rgb(95, 68, 226);
    border: solid 1px grey;
    border-radius: 12px;
}

.userInput {
    width: 200px;
    height: 30px;
    border: solid 1px grey;
    border-radius: 12px;
    background-color: transparent;
}
